{% load static %}
<link rel="stylesheet" href="{% static 'searching/style.css' %}">
<link rel="stylesheet" href="{% static 'searching/mystyle.css' %}">
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>司法搜索</title>
</head>
<body>
<div id="wapp">
<div class="hcenter maintitle">
Legal Searching
</div>

<div class="hcenter resdiv">
    {% for a in res %}
        <div class="reselement">
            <a href = "{% url 'case' a.path %}">
                {{a.title}}
            </a>
        </div>
    {% endfor %}
</div>
<form class="hcenter searchform">
    {%csrf_token%}
    <input name="keyword" class="myinput searchinput" placeholder="搜索" value="{{dword}}">
    <input v-for="(tag, index) in tags" v-bind:name="index" v-bind:value="tag" type="hidden">
    <input class="mybutton searchbutton" type="submit" value="搜索">
</form>
<div class="hcenter tagdiv">
    <div class="tagscard">
        <div v-for="tag in tags" class="tagelement">
            <span class="tagcard">[[tag]]</span>
            <button v-on:click="RemoveTag(tag)" class="removetagbutton">x</button>
        </div>
    </div>
    <div class="taginputcard">
        <div class="autocomplete" style="width:300px;">
            <input id="taginput" class="myinput taginput" placeholder="标签">
        </div>
        <button class="mybutton tagbutton" onclick="AddTag()">添加</button>
    </div>
</div>
<script type="application/javascript">
    var app = new Vue({
        el: '#wapp',
        delimiters: ['[[', ']]'],
        data: {
            tags: {% autoescape off %}{{dtags|safe}}{% endautoescape %}
        },
        methods: {
            RemoveTag: function(tag){
                for(var i = 0; i < this.tags.length; i++){
                    if(this.tags[i] == tag){
                        this.tags.splice(i, 1);
                        break;
                    }
                }
            }
        }
    });
    function AddTag(){
        if(document.getElementById("taginput").value != ""){
            app.tags.push(document.getElementById("taginput").value);
            document.getElementById("taginput").value = "";
        }
    }
    function autocomplete(inp, arr) {
      /*the autocomplete function takes two arguments,
      the text field element and an array of possible autocompleted values:*/
      var currentFocus;
      /*execute a function when someone writes in the text field:*/
      inp.addEventListener("input", function(e) {
          var a, b, i, val = this.value;
          /*close any already open lists of autocompleted values*/
          closeAllLists();
          currentFocus = -1;
          /*create a DIV element that will contain the items (values):*/
          a = document.createElement("DIV");
          a.setAttribute("id", this.id + "autocomplete-list");
          a.setAttribute("class", "autocomplete-items");
          /*append the DIV element as a child of the autocomplete container:*/
          this.parentNode.appendChild(a);
          /*for each item in the array...*/
          for (i = 0; i < arr.length; i++) {
            /*check if the item starts with the same letters as the text field value:*/
            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
              /*create a DIV element for each matching element:*/
              b = document.createElement("DIV");
              /*make the matching letters bold:*/
              b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
              b.innerHTML += arr[i].substr(val.length);
              /*insert a input field that will hold the current array item's value:*/
              b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
              /*execute a function when someone clicks on the item value (DIV element):*/
                  b.addEventListener("click", function(e) {
                  /*insert the value for the autocomplete text field:*/
                  inp.value = this.getElementsByTagName("input")[0].value;
                  /*close the list of autocompleted values,
                  (or any other open lists of autocompleted values:*/
                  closeAllLists();
              });
              a.appendChild(b);
            }
          }
      });
      /*execute a function presses a key on the keyboard:*/
      inp.addEventListener("keydown", function(e) {
          var x = document.getElementById(this.id + "autocomplete-list");
          if (x) x = x.getElementsByTagName("div");
          if (e.keyCode == 40) {
            /*If the arrow DOWN key is pressed,
            increase the currentFocus variable:*/
            currentFocus++;
            /*and and make the current item more visible:*/
            addActive(x);
          } else if (e.keyCode == 38) { //up
            /*If the arrow UP key is pressed,
            decrease the currentFocus variable:*/
            currentFocus--;
            /*and and make the current item more visible:*/
            addActive(x);
          } else if (e.keyCode == 13) {
            /*If the ENTER key is pressed, prevent the form from being submitted,*/
            e.preventDefault();
            if (currentFocus > -1) {
              /*and simulate a click on the "active" item:*/
              if (x) x[currentFocus].click();
            }
          }
      });
      function addActive(x) {
        /*a function to classify an item as "active":*/
        if (!x) return false;
        /*start by removing the "active" class on all items:*/
        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);
        /*add class "autocomplete-active":*/
        x[currentFocus].classList.add("autocomplete-active");
      }
      function removeActive(x) {
        /*a function to remove the "active" class from all autocomplete items:*/
        for (var i = 0; i < x.length; i++) {
          x[i].classList.remove("autocomplete-active");
        }
      }
      function closeAllLists(elmnt) {
        /*close all autocomplete lists in the document,
        except the one passed as an argument:*/
        var x = document.getElementsByClassName("autocomplete-items");
        for (var i = 0; i < x.length; i++) {
          if (elmnt != x[i] && elmnt != inp) {
            x[i].parentNode.removeChild(x[i]);
          }
        }
      }
    /*execute a function when someone clicks in the document:*/
      document.addEventListener("click", function (e) {
        closeAllLists(e.target);
      });
    }
    var tagcandidates = {% autoescape off %}{{tagcandidates|safe}}{% endautoescape %};
    autocomplete(document.getElementById("taginput"), tagcandidates);
</script>
</body>
</html>